<section>
  <div class="text-center lh-1">    
    <h2>  Basic <span class="text-info"> {{make}} {{model}}</span> info</h2>
    <p class="fs-3">The car was constructed in 
        <time datetime="{{year}}">{{year}}</time>
    </p>
    <p class="fs-4">The car color is {{color}}</p>
  </div>
</section>
<section>
  <ol class="list-group list-group-numbered">
    <div class="fw-bold text-capitalize">features</div>
    {{#each features}}
    <li class="list-group-item">
      <span class="text-capitalize">{{@key}}</span>
      <ul class="list-group">
      {{#each this}}
        <li class="list-group-item list-group-item-primary">
          <span class="text-capitalize">{{@key}}</span>
          <ul class="list-group">
          {{#each this}}
            <li class="list-group-item list-group-item-success">
              <span class="text-capitalize">{{@key}}: </span>
              {{this}}
              {{!-- {{#if display}} --}}
              <ul class="list-group">
              {{#each this}}
                <li class="list-group-item list-group-item-info">
                  <span class="text-capitalize">{{@key}}: </span>
                  {{this}}
                </li>
              {{/each}}
              {{!-- {{else}} --}}
              
              </ul>
              {{!-- {{/if}} --}}
            </li>
          {{/each}}
          </ul>
        </li>
      {{/each}}
      </ul>
    </li>
    {{/each}}
  </ol>
</section>
<section>
  <ul class="list-group">
    <div class="fw-bold text-capitalize">engine</div>
    {{#each engine}}
      <li class="list-group-item">
        <span class="text-capitalize">{{@key}}: </span>
        {{this}}
        <ul class="list-group">
        {{#each this}}
          <li class="list-group-item list-group-item-primary">
            <span class="text-capitalize">{{@key}}: </span>
            {{this}}
          </li>
        {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</section>
<section>
  <ul class="list-group">
    <div class="fw-bold text-capitalize">fuel economy</div>
    {{#each fuel_economy}}
      <li class="list-group-item">
        <span class="text-capitalize">{{@key}}: </span>
        {{this}}
      </li>
    {{/each}}
  </ul>
</section>
<section>
  <ul class="list-group">
    <div class="fw-bold text-capitalize">price</div>
    {{#each price}}
      <li class="list-group-item">
        <span class="text-capitalize">{{@key}}: </span>
        {{this}}
        <ul class="list-group">
        {{#each this}}
          <li class="list-group-item list-group-item-primary">
            <span class="text-capitalize">{{@key}}: </span>
            {{this}}
          </li>
        {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</section>