<header>
  {{> header }}
</header>
<section>
  <div>
    <h2>{{> title data="My educations" line=true }}</h2>
    <div>{{> title data="I'd studied at" }}</div>
      <ul class="list-group"> 
    {{#each main.educations}}
        <li class="list-group-item">{{title}} {{#if type}} {{type}} {{/if}} for {{duration_term}} {{duration_unit}} 
        {{#unless isEnd}}
          <i>(not yet terminated)</i>
        {{/unless}}
        </li>
    {{/each}}
      </ul>
  </div>
</section>
<section>
  <div>
    <h2>{{> title data="My certificates" line=true }}</h2>
      <ul class="list-group"> 
    {{#each main.certificates}}
        <li class="list-group-item">{{title}} 
        ({{id}})
        </li>
    {{/each}}
      </ul>
  </div>
</section>
<footer>
  {{> footer }}
</footer>