{{#with navigation}}  
<section>
  <div class="row card">
    <div class="card-body">
      {{#each links}}
        {{#if href}}
          <a class="text-decoration-none" href="{{href}}">{{text}}</a>
        {{else}}
          <a class="text-decoration-none text-muted" href="{{href}}">{{text}}</a>
        {{/if}}
      {{/each}}
    </div>
  </div>
</section>
{{/with}}
<hr>
<section class="col-12">
  <h1 class="text-dark">{{header}}</h1>
  <br><br><br>
  <form action="#">
    <div class="row">
      <div class="col-8">
        {{#with contacts_data}}
        <div>
          <h2 class="text-dark">{{title}}</h2>
          {{#each buttons}}
            {{#if isPrimary}}
              <button type="submit" clasS="btn btn-warning">{{text}}</button>
            {{/if}}
            {{#if isOutline}}
              <button type="submit" clasS="btn btn-outline-warning">{{text}}</button>
            {{/if}}
          {{/each}}
          {{#with form}}
          <div class="row row-cols-1 row-cols-md-2 g-4">
            {{#each input}}
                <div class="col-4">
                  <div class="mt-4">              
                    <label class="form-label" for="surname-input">{{label}}</label>
                    <input type="text" id='surname-input' class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text text-muted">{{caption}}</div>
                  </div>
                </div>
            {{/each}}
          </div>
        <hr>
        {{#each switch}}
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" {{#if isActive}} checked {{/if}}>
            <label class="form-check-label">{{text}}</label>
          </div>
        {{/each}}
        <hr>
          {{/with}}
        </div>
        {{/with}}
        {{#with delivery}}
        <div>          
          <h4 class="text-dark">{{title}}</h4>
          <div class="row row-cols-1 row-cols-md-2 g-4">
          {{#each select}}
            <div class="col-4 card">              
              <label for="sel-place" class="form-label">{{label}}</label>
              <select name="sel-place" class="form-select">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
              </select>
            </div>
          {{/each}}
          </div>
          <hr>
        {{#each delivery_type}}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" 
            {{#if @first}} checked {{/if}}>
            <label class="form-check-label" for="flexRadioDefault2">{{type}}</label>
          </div>
        {{/each}}
        <hr>
        {{#with payment}}
        <div>
          <h4 class="text-dark">{{title}}</h4>
          {{#each list}}
            <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" 
            {{#if @first}} checked {{/if}}>
            <label class="form-check-label" for="flexRadioDefault2">{{type}}</label>
            <div class="text-secondary">{{description}}</div>
          </div>
          {{/each}}
        </div>
        {{/with}}
        </div>
        {{/with}} <!-- end of delivery -->
        <br><hr><br>
        {{#with contacts_data}}
        <div>
          <h3 class="text-dark">{{title}} отримувача</h3>
          <br>
          {{#with form}}
            <div class="row row-cols-1 row-cols-md-2 g-4">
              {{#each input}}
                  <div class="col-4">
                    <div class="mt-4">              
                      <label class="form-label" for="surname-input">{{label}}</label>
                      <input type="text" id='surname-input' class="form-control" placeholder="{{placeholder}}">
                      <div class="form-text text-muted">{{caption}}</div>
                  </div>
                  </div>
              {{/each}}
            </div>
          {{/with}} <!-- end of form -->
        </div>
        {{/with}} <!-- end of contacts_data -->    
        <hr>
        <div class="mt-4">
          <label class="form-label" for="surname-input">Коментар</label>
          <input type="text" id='surname-input' class="form-control" placeholder="Я хочу, щоб">
        </div>
        <br><hr><br>
        {{#with coupon}}
        <div>
          <h3 class="text-dark">{{title}} отримувача</h3>
          <br>
          {{#with select}}
            {{#with availabel_coupon}}
              <label for="sel-place" class="form-label">{{label}}</label>
              <select name="sel-place" class="form-select form-select-lg">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
              </select>
            {{/with}}
            <br>
            {{#with friend_coupon}}
              <label for="sel-place" class="form-label">{{label}}</label>
              <select name="sel-place" class="form-select form-select-sm">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
              </select>
            {{/with}}
            <br>
          {{/with}}
          {{#each add}}
            {{#with this}}
              <div class="mt-4">              
                <label class="form-label" for="surname-input">{{label}}</label>
                <input type="text" id='surname-input' class="form-control" placeholder="{{placeholder}}">
                <div class="form-text text-muted">{{caption}}</div>
              </div>
            {{/with}}
          {{/each}}
        </div>
        {{/with}}
      </div> <!-- end of col-8 -->
    </div> <!-- end of global row -->
  </form>
</section> <!-- end of col-12 -->