{{#with navigation}}  
  <section class="mb-3">
    <div class="row card">
      <ul class="nav">
          {{#each links}}
        <li class="nav-item">
          <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{href}}">{{text}}</a>
        </li>
          {{/each}}
      </ul>
    </div>
  </section>
{{/with}}
<section>
  <nav>
    <ul class="breadcrumb">
      {{#each breadcrumb}}        
        <li class="breadcrumb-item">
          <a {{#if url}} href="{{url}}" {{/if}}>{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</section>
<form action="#">
  <h1 class="m-3">{{header}}</h1>
  <div class="col-9 row row-cols-1 row-cols-md-3 g-2 mb-3 p-2">
    {{#each sortBlock}}
      <div class="col">
        <select class="form-select me-3" aria-label="Default select example">
          <option selected>{{placeholder}}</option>
          {{#each options}}
            <option value="{{value}}">{{text}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-4 me-2">
      <div class='card'>
        <div class='card-body'>
            {{#with filterBlock}}
              <div class="d-flex flex-column">
                {{#with sellers}}
                  <div class="mb-2">{{title}}</div>
                    {{#each list}}
                      <div class="d-flex flex-row ms-2 mb-2">
                        <input class="me-2" type="checkbox" id="mach-seller">
                        <label for="mach-seller">{{value}}</label>
                      </div>
                    {{/each}}
                {{/with}}
                <hr>
                {{#with brands}}
                  <div class="mb-2">{{title}}</div>
                  <input class="mb-2" type="text" placeholder="{{input.placeholder}}">
                  <div class="d-flex flex-column mt-2">
                    {{#each options}}
                      <div class="d-flex flex-row ms-2 mb-2">
                        <input class="me-2" type="checkbox" id="mach-opt">
                        <label for="mach-opt">{{value}}</label>
                      </div>
                    {{/each}}
                  </div>
                {{/with}}
                <hr>
                {{#with price}}
                  <div class="mb-2">{{title}}</div>
                  <input class="mb-2" type="text" min="{{range.from}}" max="{{range.to}}" placeholder="{{range.from}}">
                  <input class="mb-2" type="text" min="{{range.from}}" max="{{range.to}}" placeholder="{{range.to}}">
                  <a href="{{button.link}}" class="btn btn-outline-secondary mb-3 w-25">{{button.text}}</a>
                {{/with}}
                {{#each filterList}}
                  <div class="mb-2">{{title}}</div>
                  <div class="d-flex flex-column mt-2">
                    {{#each options}}
                      <div class="d-flex flex-row ms-2 mb-2">
                        <input class="me-2" type="checkbox" id="mach-opt">
                        <label for="mach-opt">{{value}}</label>
                      </div>
                    {{/each}}
                  </div>
                  {{#unless @last}}                    
                    <hr class="mt-2 mb-2">
                  {{/unless}}
                {{/each}}<!-- end of filterList -->
              </div>
            {{/with}}
        </div>
      </div>
    </div><!--end of col-4 -->
    <div class="col-8 row row-cols-1 row-cols-md-2 g-2">
      {{#each goodsList}}
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{{img}}" alt="#">  
            <div class="card-body">
              <div class="mb-2">
                {{#if isHot}}
                  <span class="badge bg-info rounded-pill">Hot</span>
                {{/if}}
                {{#if isNew}}
                  <span class="badge bg-warning rounded-pill">New</span>
                {{/if}}
              </div>
              <div class="d-flex flex-column">
                {{#if isFast}}
                  <button class="btn btn-success btn-sm w-50 mb-2">Швидка доставка</button>
                {{/if}}
                {{#if isFree}}
                  <button class="btn btn-secondary btn-sm w-50 mb-2">Безкоштовна доставка</button>
                {{/if}}
              </div>
              <div class="fw-bold">{{name}}</div>
              <div>{{review.amount}} {{review.text}}</div>
              <div class="fs-5 fw-bold">{{price}}</div>
              <div>{{delivery}}</div>
              <div class="d-flex flex-column mt-2">
                {{#each buttons}}
                  <a href="{{link}}" class="btn {{#if isPrimary}} btn-primary {{/if}} {{#if isSecondary}} btn-secondary {{/if}} w-50 mb-2">{{text}}</a>
                {{/each}}
              </div>
               {{#each characteristics}}
                 <div class="mt-1 mb-1">{{title}}: {{value}}</div>
               {{/each}} <!-- end of characteristics -->
            </div>
          </div>
        </div>
      {{/each}}<!-- end of goodsList -->
    </div>
  </div>
</form>
<section>
  {{#with service}}
    <div class="w-100 bg-success text-center p-3">
      <h2 class="text-light mb-2">{{title}}</h2>
      <p class="text-light mb-2">{{description}}</p>
      <a href="{{buttons.0.link}}" class="btn btn-primary">{{buttons.0.text}}</a>
    </div>
  {{/with}}
</section>
<section>
  <div class="col-sm-10 row row-cols-1 row-cols-md-5 g-2">
  {{#each footer}}
    <div class="col-2">
      <ul class="nav">
        <li class="nav-item">                
          {{#each this}}
              <a href="{{link}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
          {{/each}}
        </li>
      </ul>
    </div>
  {{/each}}
  </div>
</section>