{{#with navigation}}  
<section>
  {{#each links}}
    <a class="btn btn-link col-2 text-info" href="{{href}}">{{text}}</a>
  {{/each}}
  {{#with button}}
    <button class="btn btn-primary" href="{{href}}">{{text}}</button>
  {{/with}}
</section>
{{/with}}
<hr>
{{#with header}}
<section>
  <h1 class="text-dark">{{title}}</h1>
  <p class="text-dark">{{description}}</p>
  {{#with button}}    
    <button class="btn btn-primary" href="{{link}}">{{text}}</button>
  {{/with}}
</section>
{{/with}}
<hr>
{{#with city}}
  <section>
    <h2 class="text-dark">{{title}}</h2>
    <div class="row">      
    {{#each cards}}
      <div class="card g-0 col-md-6">      
        {{#with picture}}
          <img class="card-img-top" src="{{src}}" alt="{{alt}}">
        {{/with}}
        <div class="card-body">
          <div class="card-title">{{title}}</div>
          <p class="card-text">{{description}}</p>
          {{#with button}}    
            <button class="btn btn-primary" href="{{href}}">{{text}}</button>
          {{/with}}
        </div>
      </div>
    {{/each}}
    </div>
  </section>
{{/with}}
<hr>