{{#with page_header}}  
<section>
  <h1 class="text-dark text-center">{{title}}</h1>
  <div class="text-dark text-center">{{description}}</dfn>
  <br>
</section>
{{/with}}
{{#with section}}
<section class="card">
  <div class="card-body">
    {{#with about_us}}
      {{#with title_list}}
        <div class="display-6 text-dark text-end">{{main}}</div>
        <h2 class="text-dark text-end">{{sub}}</h2>
      {{/with}}
      {{#with button}}
        <button type="button" class="btn btn-outline-info text-info">{{text}}</button>
      {{/with}}
    {{/with}}    
    <br><br><br>
    {{#with advantage}}
    <section class="card">  
      <div class="card-body">
        <div class="display-5">{{title}}</div>
        <br>
        {{#with efficiency}}
        <div class="card">
          <div class="card-body">
            <div class="display-4">{{title}}</div>
            <h6 class="text-dark">{{sub_title}}</h6>
            <p class="text-dark">{{description}}</p>
            <br>
            <button type="button" class="btn btn-outline-warning">{{button}}</button>
          </div>
        </div>
        {{/with}}
        {{#with innovation}}
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <div class="display-4">{{title}}</div>
              <h6 class="text-dark">{{sub_title}}</h6>
              <p class="text-dark">{{description}}</p>
            </div>
            <br>
            <button type="button" class="btn btn-outline-warning">{{button}}</button>
          </div>
        </div>
        {{/with}}
        {{#with collaboration}}
        <div class="card">
          <div class="card-body">
            <div class="text-end">
              <div class="display-4">{{title}}</div>
              <h6 class="text-dark">{{sub_title}}</h6>
              <p class="text-dark">{{description}}</p>
            </div>
            <br>
            <button type="button" class="btn btn-outline-warning">{{button}}</button>
          </div>
        </div>
        {{/with}}
      </div>
    </section>
    {{/with}}
    {{#with agreement}} 
    <section class="card">  
      <div class="card-body">
        <div class="display-5">{{title}}</div>
        <br>
        {{#with info}}
        <div class="card">
          <div class="card-body">
            <h5 class="text-dark">{{sub_title}}</h5>
            {{#with detail}}
            <p class="text-dark">{{text}}</p>
            <br>
            <button type="button" class="btn btn-success">{{button}}</button>
            {{/with}}
          </div>
        </div>
        {{/with}}
    {{/with}}
      </div>
    </section>
  </div>
</section>
{{/with}}