{{#with page_header}}  
<section>
  <h1 class="text-dark text-center">{{title}}</h1>
  <dfn class="text-dark text-center">{{description}}</dfn>
  <br>
</section>
{{/with}}
{{#with section}}
<section class="card">
  <div class="card-body">
    {{#with about_us}}
      {{#with title_list}}
        <div class="display-6 text-dark text-end">{{main}}</div>
        <h2 class="text-dark text-end">{{sub}}</h2>
      {{/with}}
      {{#with button}}
        <button type="button" class="btn btn-outline-info text-info">{{text}}</button>
      {{/with}}
    {{/with}}    
  </div>
</section>
<br>
{{/with}}
<br><br><br>
{{#with advantage}}
<section class="card">  
  <div class="card-body">
    <div class="display-5">{{title}}</div>
    <br>
    {{#with efficiency}}
    <div class="card">
      <div class="card-body">
        <div class="display-4">{{title}}</div>
        <dfn class="text-dark">{{sub_title}}</dfn>
        <dfn class="text-dark">{{description}}</dfn>
        <br>
        <button type="button" class="btn btn-outline-warning">{{button}}</button>
      </div>
    </div>
    {{/with}}
  </div>
</section>
{{/with}}
<br><br><br>
{{#with paragraph}}
<section class="card">  
  <div class="card-body">
    <div class="text-uppercase">{{title}}</div>
    <dfn class="text-dark">{{text}}</dfn>
    <br>
      {{#with button}}
    <div class="text-info">{{> link href=url text=text noLine=true}}</div></div>
      {{/with}}
    <div class="card">
      <div class="card-body">
        <ul>
          {{#each list_name}}
          <li>
            <div class="text-info">{{> link href=url text=text noLine=true}}</div>
          </li>
          <br>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>  
{{/with}}