{{#if simple}}
  {{data}}
{{else}}
  {{#if big}} 
    <h2>{{data}}</h2> 
  {{else}} 
    <h3>{{data}}</h3>
  {{/if}}
{{/if}}
{{#if line}} <hr /> {{/if}}
h2 {
  background:yellow;
  color:red;
}
h2 {
  background:pink;
  color:blue;
}